
<%-include("../layout/adminHeader.ejs")-%>


<section>
    <div class="content ">
      <div class="row">
        <div class="container d-flex mb-5">
          <div >
            <h5><strong> Category</strong> </h5>
           <span class="opacity-50"> Dashboard > Categorise</span> 
          </div>
          <div class="ms-auto me-5"> 
           <a href="/admin/adminPanel/category/create-Category" class="btn text-white me-auto " style="background: #f35800;"><i class="fa-regular fa-plus" style="color: #ffffff;"></i> Create Category</a>
          </div>
        </div>

      </div>
        <table class="table" id="myTable">
            <colgroup>
               
                <col style="width: 158px;" /> <!-- Column for Category -->
               
                <col style="width: 150px;" />  <!-- Column for Added -->
                <col style="width: 80px;" />  <!-- Column for Action -->
                
              </colgroup>
            <thead>
              <tr>
               
                <th scope="col">Category</th>
                
                <th scope="col">Added</th>
                <th scope="col">Action</th>
               
              </tr>
            </thead>
            <% if (categories && categories.length > 0) { %>
            <tbody>

              <% categories.forEach(category => { %>
                <tr>
                  
                  <td colspan="1">
                    <img src="/assests/categoryUploads/<%= category.image %>" alt="" width="50" height="50" class="me-3">
                    <%= category.name %>
                  </td>
                  
                 
                  <td class="pt-3"> <%= category.addedDate.toLocaleString() %></td>
                  
                  <td class="pt-3"> <i class="fa-solid fa-pen-to-square" style="color: #4a5153;"></i> </td>
                </tr>
                <% }); %>
            
            </tbody>
            <% } else { %>
              <p>No categories available.</p>
            <% } %>
          </table>

    </div>
   
           
        
   
</section>

<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>