
<section>
    <div class="container-fluid d-flex justify-content-center">
        <div class="col-9">
            <img src="/assests/blocked_Mesa de trabajo 1.png" alt="" width="40%">
        </div>
        <div class="col-3">
            <a  href="/logout"  class="btn text-white">
                <button class="my-2 btn text-white   px-4" style="background: #f35800;font-weight: 600;">Logout</button>  </a>
 
        </div>
          </div>
          
</section>