<%-include("../layout/userHeader.ejs")-%>

<section class="mt-5 mb-5">
    <div class="col d-flex " style="padding-left: 250px ; "  >
        <div class="col-4">
            
                <img src="/assests/forgot-transformed.png" alt="" width="500px" >
                           
        </div>
        <div class="" style="margin-left: 200px ; margin-top:50px;">
            <div class="my-5 mx-5 " >
                <h2 class="fw-bold">Forgot</h3>
                <h2 class="fw-bold">Your Password ?</h4>
                <form id="forgotForm" action="/forgotPSWLink" method="post">
                    <!-- Your form fields go here -->
                    <input type="email" name="email" placeholder="Your Email" required class="pe-5"> <br>
                    <button type="submit" class="btn text-white btn-b mt-4 " id="pswResetButton" 
                    style="background: #f35800; margin-left: 0px; padding-left: 62px; padding-right: 62px;">Reset Password</button>
                </form>
                <div id="msg" style="display: none;">
                  Check your mail for resetting Password!
                </div>
            </div>
        </div>
        
           
        </div>
    </div>
</section>