<%-include("../layout/userHeader.ejs")-%>


<section class="container mt-5 mb-5">
  <div class="row">
    
      <div class="col-md-6" >
          <img class="img-fluid" src="/assests/registerPage-image.png" alt="" width="950px">
      </div>
      
      
      <div class="col-md-6  mt-5 mt-md-0">
        <% if(typeof message !== 'undefined'){ %>
          <h5 class="text-warning"  id="invalidUser-msg"><%= message %></h5>
      <% } %>
       <form action="/verify-otp" method="post" >
        <br><br>
        <div class="form-group col-md-8  mb-3 ms-5  mt-md-5 ">
         <input type="text" name="name" class="form-control" id="exampleInputName"  placeholder="Enter your name" required>
            </div>

            
              <div class="form-group col-md-8  mb-3 ms-5 " >
                <input type="email" name="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp"   placeholder="Enter your email" required>
              </div>
              
              <div class="form-group col-md-8  mb-3 ms-5" >
                <input type="tel" name="mobile" class="form-control "  id="exampleInputName" placeholder="Your Mobile number" required>
              </div>
           
              
              <div class="form-group col-md-8  mb-3 ms-5">
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
              </div>
              <div class="ms-5 ps-3 mt-5" >
                  <small id="emailHelp" class="form-text text-muted ">By continuing, you agree to Luxicart's Terms of Use and Privacy Policy.</small>
              
              
                  <button type="submit" class="btn text-white d-block  fw-bold col-sm-9 px-5 ms- mt-3 " style="background: #f35800;">Continue</button>
             
              

              </div>
              
            </form>
            <div class=" " style=" color:  #f35800;margin-top: 100px; margin-left: 200px;">
              Existing User?<a style="color: #f35800;"  href="/login"> <strong> Login here</strong></a>
            </div>

            
      </div>
  </div>
  </div>
    
</section>

<script>
  function userhidemsg(){
const msg= document.getElementById("invalidUser-msg")
if(msg){
setTimeout(()=>{
msg.style.display = "none"
}, 4000)
}
}
window.onload= userhidemsg;
</script>

















<%-include("../layout/userFooter.ejs")-%>